@font-face {
    font-family: 'iconfont';
    src: url('./icon/iconfont.eot');
    src: url('./icon/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./icon/iconfont.woff2') format('woff2'),
        url('./icon/iconfont.woff') format('woff'),
        url('./icon/iconfont.ttf') format('truetype'),
        url('./icon/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-date::before{
    content: "\e72a";
  }
  .icon-next-month::before{
      content: "\e630";
  }
  .icon-next-year::before{
      content: "\e61a";
  }
  .icon-pre-month::before{
      content: "\e60e";
  }
  .icon-pre-year::before{
    content: "\e619";
  }